{% extends "base.html" %}

{% load partials static %}

{% block content %}
<div
  class="grid grid-cols-12 grid-rows-[min-content] gap-y-12 p-4 lg:gap-x-12 lg:p-10">
  {% include "includes/header.html" %}
</div>

<div
  class="grid grid-cols-12 grid-rows-[min-content] gap-y-12 p-4 lg:gap-x-12 lg:p-10">

  <!-- card -->
   <section class="card col-span-12 col-start-4 col-end-8 overflow-hidden bg-base-200 ">
    <h1 class="prose py-4 text-lg"> Under Construction. Adding more to your dashboard section in coming releases</h1>

   </section>

</div>
{% endblock content %}
